@import 'tailwind';
@import 'inter.scss';

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: #22292F;
  color: white;

  a {
    color: white;

    &:hover {
      color: rgb(255, 205, 66);
    }
  } 
}
