.link {
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;

  &:hover {
    color: $yellow;
    background-color: rgba(0, 0, 0, .2);
  }
}

.small-link {
  color: $yellow;
  font-weight: 400;
  line-height: 30px;
  padding: 0.25rem;
  border-radius: 0.25rem;

  &:hover {
    color: $yellow;
    background-color: rgba(0, 0, 0, .2);
  }
}
